<html>
<head>
    <title>BLOG</title>
    <link rel="stylesheet" href="web/public/components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="web/public/styles/style.css">
    <link rel="stylesheet" href="web/public/styles/article.css">
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <ul>
                <li><a class="btn btn-default" href="/aston">Accueil des articles (front avec twig)</a></li>
                <li><a class="btn btn-default" href="/aston/front">Accueil des auteurs (front avec angular 1.5)</a></li>
                <li><a class="btn btn-default" href="/aston/?route=add">Ajout d'un article</a></li>
            </ul>
        </div>
        <h1>Blog de {{name}}</h1>
        {% for article in articles %}
        <div class="card">
            <div class="card-block">
                <h2 class="card-title">{{ article.titre }} <span class="update-date"> - modifié le {{article.date}}</span></h2>
                <p class="card-text">{{article.message}}</p>
                <a type="button" class="btn btn-primary" href="/aston/?route=update&id={{article.id}}&origin=default">Modifier cet article</a>
                <a type="button" class="btn btn-danger" href="/aston/?route=delete&id={{article.id}}&origin=default">Supprimer cet article</a>
                <a type="button" class="btn btn-success" href="/aston/?route=show&id={{article.id}}&origin=default">Détails de l'article</a>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>
