<html>
<head>
    <title>BLOG</title>
    <link rel="stylesheet" href="web/public/components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="web/public/styles/style.css">
    <link rel="stylesheet" href="web/public/styles/article.css">
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <ul>
                <li><a class="btn btn-default" href="/aston">Accueil des articles (front avec twig)</a></li>
                <li><a class="btn btn-default" href="/aston/front">Accueil des auteurs (front avec angular 1.5)</a></li>
                <li><a class="btn btn-default" href="/aston/?route=add">Ajout d'un article</a></li>
            </ul>
        </div>
        <h1>Détails de l'article</h1>
        <div class="card">
            <div class="card-block">
                <h2>{{article.titre}} {{article.auteur}}</h2>
                <p>{{article.message}}</p>
            </div>
        </div>
    </div>
</body>
</html>
