<html>
<head>
    <title>BLOG</title>
    <link rel="stylesheet" href="web/public/components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="web/public/styles/style.css">
    <link rel="stylesheet" href="web/public/styles/article.css">
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <ul>
            <li><a class="btn btn-default" href="/aston">Accueil des articles</a></li>
            <li><a class="btn btn-default" href="/aston/?route=list_auteur">Accueil des auteurs</a></li>
            <li><a class="btn btn-default" href="/aston/?route=add_auteur">Ajout d'un auteur</a></li>
        </ul>
    </div>
    <h1>Modification</h1>

    <form id="new-article" method="get" name="new-client">
        <div class="form-group">
            <label for="nom">Nom</label>
            <input class="form-control" type="text" id="nom" name="nom" value="{{auteur.nom}}">
        </div>
        <div class="form-group">
            <label for="prenom">Auteur</label>
            <input class="form-control" type="text" id="prenom" name="prenom" value="{{auteur.prenom}}">
        </div>
        <div class="form-group">
            <label for="fonction">Message</label>
            <textarea class="form-control" id="fonction" name="fonction">{{auteur.fonction}}</textarea>
        </div>
        <div>
            <input type="hidden" name="route" id="route" value="edit_auteur">
            <input type="hidden" name="id" id="id" value="{{auteur.id_auteur}}">
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary">
            <a href="/aston/?route=list_auteur" class="btn btn-default">Annuler</a>
        </div>
    </form>
</div>
</body>
</html>
