<!DOCTYPE html>
<html>
<head>
    <title>BLOG</title>
    <link rel="stylesheet" href="web/public/components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="web/public/styles/style.css">
    <link rel="stylesheet" href="web/public/styles/auteur.css">
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <ul>
            <li><a class="btn btn-default" href="/aston">Accueil des articles</a></li>
            <li><a class="btn btn-default" href="/aston/?route=list_auteur">Accueil des auteurs</a></li>
            <li><a class="btn btn-default" href="/aston/?route=add_auteur">Ajout un auteur</a></li>
        </ul>
    </div>
    <h1>Blog de {{name}}</h1>
    {% for auteur in auteurs %}
    <div class="card">
        <div class="card-block">
            <h2 class="card-title">{{ auteur.prenom }} {{ auteur.nom }}</h2>
            <p class="card-text">{{ auteur.fonction }}</p>
            <a type="button" class="btn btn-primary" href="/aston/?route=edit_auteur&id={{auteur.id_auteur}}&origin=default">Modifier cet auteur</a>
            <a type="button" class="btn btn-danger" href="/aston/?route=delete_auteur&id={{auteur.id_auteur}}&origin=default">Supprimer cet auteur</a>
            <a type="button" class="btn btn-success" href="/aston/?route=show_auteur&id={{auteur.id_auteur}}&origin=default">Détails de l'auteur</a>
        </div>
    </div>
    {% endfor %}
</div>
</body>
</html>
