<html>
<head>
    <title>BLOG</title>
    <link rel="stylesheet" href="web/public/components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="web/public/styles/style.css">
    <link rel="stylesheet" href="web/public/styles/article.css">
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <ul>
            <li><a class="btn btn-default" href="/aston">Accueil des articles</a></li>
            <li><a class="btn btn-default" href="/aston/?route=list_auteur">Accueil des auteurs</a></li>
            <li><a class="btn btn-default" href="/aston/?route=add_auteur">Ajout d'un auteur</a></li>
        </ul>
    </div>
    <h1>Détails de l'auteur</h1>
    <div class="card">
        <div class="card-block">
            <h2>{{auteur.nom}} {{auteur.prenom}}</h2>
            <p>{{auteur.fonction}}</p>
        </div>
    </div>
</div>
</body>
</html>
