ul {
    list-style: none;
    margin: auto;
}

li {
    display: inline-block;
}

ul li a {
    margin: auto;
    min-width: 100px;
}

.card .card-block {
    border: 1px solid darkgray;
    padding: 0 0 10px 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    width: 80%;
}

.update-date {
    font-size: 1.5rem;
}
