<html>
<head>
    <title>BLOG</title>
    <link rel="stylesheet" href="web/public/components/bootstrap/dist/css/bootstrap.css">

</head>
    <body class="container-fluid">
        <h1>Ajout</h1>
        <form action="/aston/?route=add" id="new-article" method="get" name="new-client">
            <div class="form-group row">
                <div class="col-lg-6">
                    <label for="titre">Titre</label>
                    <input type="text" id="titre" name="titre">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-6">

                    <label for="auteur">Auteur</label>
                    <input type="text" id="auteur" name="auteur">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-6">
                    <label for="message">Message</label>
                    <input type="text" id="message" name="message">
                </div>
            </div>
            <div>
                <input type="hidden" name="route" id="route" value="add">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary">
            </div>
        </form>
    </body>
</html>